.square-btn {
    border-radius: 0;
}

.section-title {
    margin: 0;
    padding: 0;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}